<!DOCTYPE html>
<html>
<head>
    <title>KYBO</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        h1 { color: #333; }
        ul { line-height: 1.6; }
    </style>
</head>
<body>
    <h1>KYBO</h1>
    <h2>UK Companies House Query API</h2>
    <p>This API allows you to ingets and query UK Companies House data.
    </p>
    <p>Future version: 
        <ul>
            <li>Convert these responses to BODS statements for open data integration</li>
            <li>Ingest companies and PSCs from Companies House bulk files</li>
        </ul>
    </p>
    
    <p>Check out docs for API documentation</p>
    <a href="/docs">API Docs</a>

    <h4>By: Albin Touma, 2025</h4>
</body>
</html>
